.headline-container {
    margin: 20px 0;
    height: 300px;
    overflow: hidden;
}

.topic-icon {
    float: right;
    margin: 5px;
}

div.headline-text h1 {
    margin: 5px;
}

div.headline-text h2 {
    margin: 5px;
}

img.headline {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 10px;
    object-fit: cover;
}

a.headline {
    text-decoration: none;
    color: var(--black);
}

@media screen and (max-width: 600px) {
    img.headline {
        width: 150px;
        height: 150px;
        float: left;
        object-fit: cover;
    }
    div.headline-text {
        color: var(--black);
        margin: 10px 10px 10px 160px;
        height: 150px;
    }
    p.snipit {
        display: none;
    }
    div.headline-container{
        height: 150px;
        overflow: hidden;
    }
    div.headline-text h1 {
        margin: 5px;
        font-size: 1em;
    }

    div.headline-text h2 {
        margin: 5px;
        font-size: 1.7em;
    }
}