.headline-container {
    position: relative;
    transition: transform .2s; /* Animation */
    overflow: hidden;
    text-overflow: ellipsis;
}

div.headline-container{
    max-height: 400px;
}

div.headline-container:hover {
    transform: scale(1.01);
}

.headline-text {
    position: absolute;
    top: 150px;
    left: 10px;
    right: 10px;
    color: var(--black);
    padding: 15px 15px;
    margin-bottom: 10px;
    background-color: var(--yellow);
}

img.headline {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .headline-text {
        position: absolute;
        top: 0;
        color: var(--black);
        padding: 15px 15px;
        margin-bottom: 10px;
        background-color: var(--yellow);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}