.headline-container {
    margin: 20px 0;
    background-color: var(--yellow);
    box-shadow: 0 2px 4px 0 var(--black),0 2px 10px 0 var(--black);
}

div.headline-container{
    height: 200px;
    overflow: hidden;
}

div.headline-container:hover {

}

div.headline-text {
    color: var(--black);
    margin: 10px 10px 10px 210px;
    height: 200px;
}

div.headline-text h1 {
    color: var(--black);
    margin: 5px;
}

div.headline-text h2 {
    color: var(--black);
    margin: 5px;
}


div.headline-text-only{
    margin: 10px 10px 10px 10px;
}

img.headline {
    width: 200px;
    height: 200px;
    float: left;
    object-fit: cover
}

@media screen and (max-width: 600px) {
    img.headline {
        width: 150px;
        height: 200px;
        float: left;
        object-fit: cover;
    }
    div.headline-text {
        color: var(--black);
        margin: 10px 10px 10px 160px;
        height: 200px;
    }
}