
.nav {
    /*overflow: hidden;*/
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--black);
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--yellow);
}

.nav .icon {
    display: none;
}

/*@media screen and (max-width: 600px) {*/
    /*.nav a:not(:first-child){*/
        /*display: none;*/
    /*}*/
    /*.nav a:first-child{*/
        /*display: block;*/
        /*float: left;*/
    /*}*/
    /*.nav a.icon {*/
        /*float: right;*/
        /*display: block;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 600px) {*/
    /*.nav.responsive {*/

    /*}*/

    /*.nav.responsive .icon {*/
        /*position: absolute;*/
        /*right: 0;*/
        /*top: 0;*/
    /*}*/

    /*.nav.responsive a {*/
        /*float: none;*/
        /*display: block;*/
    /*}*/
/*}*/