.post {
    padding: 10px 10px;
}

.post h2 {
    /*width: 100%;*/
    text-align: center;
}

.post img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .post{
        margin: 50px 0 0 0;
    }
}