:root {
    --seashell-color: #FFF5EC;
    --seashell-trans-color: rgba(255,245,236, .5);
    --old-rose-color: #C2847A;
    --old-silver-color:#848586;
    --dark-brown-color:#350003;
    --dark-brown-shadow: rgba(53,0,3, .16);
    --tuscany-color:#BAA898;
    --font-family: "Trebuchet MS", fantasy;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-family);
}

div.content {
    margin: 5px 5%;
}

.two-columns {
    -webkit-columns: 2 300px;
    -moz-columns: 2 300px;
    columns: 2 300px;
}

.card-columns {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
}